discord.py~=2.4.0
requests~=2.32.3
python-dotenv~=1.0.1
inquirerpy~=0.3.4

imaginepy~=2.0.1 # For upscaling
pillow==11.0.0

# For OpenAI compatible APIs
openai~=1.57.0

# A needed dependency for discord.py
audioop-lts~=0.2.1
# More dependencies
pyyaml~=6.0.2
